.vh-85
{
    height: 85vh !important;
}

.vh-90
{
    height: 90vh !important;
}

.vh-95
{
    height: 95vh !important;
}

.icon-button {
    opacity: 1;
}

.icon-button:hover {
    opacity: .7;
    cursor: pointer;
}

.principal-view {
    width: calc(100% - 50px) !important;
}

.cursor-pointer {
    cursor: pointer;
}

.bg-gradient {
    background: #2193b0;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}